<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<table width="649" border="1">
  <tr align="center" >
    <td width="111">#</td>
    <td width="111">Name</td>
    <td width="111">Complaint</td>
    <td width="111">Complaint date</td>
    <td width="111">Reply</td>
    <td width="144">Reply date</td>
  </tr>
    {% for i in data %}
  <tr align="center">
    <td>&nbsp;{{ forloop.counter }}</td>
    <td>&nbsp;{{ i.CUSTOMER.name }}</td>
    <td>&nbsp;{{ i.complaint }}</td>
    <td> {{ i.complaintdate }}</td>
    <td><a href="/replycomplaint">Send reply</a></td>
    <td> {{ i.replydate }}</td>
  </tr>
    {% endfor %}
</table>
</body>
</html>
