<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<table width="777" border="1" align="center">
  <tr align="center">
    <td>#</td>
    <td>Name</td>
    <td>Product</td>
    <td>Feedback</td>
    <td>Feedback date</td>
  </tr>
    {% for i in data %}
  <tr align="center">
    <td>&nbsp;{{ forloop.counter }}</td>
    <td>{{ i.feedback }}</td>
    <td>&nbsp;{{ i.feedbackdate }}</td>
    <td>{{ i.CUSTOMER.name }}</td>
    <td>&nbsp;{{ i.PRODUCT.productname }}</td>
  </tr>
    {% endfor %}
</table>
</body>
</html>
